.header {
    background: var(--branco);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__menu--hamburguer {
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    display: inline-block;
    width: 32px;
    height: 32px;
}

.container__botao:checked~ .menu {
    background: var(--azul-degrade);
}
.container__botao:checked~ .menu .header__menu--hamburguer {
    background-image: url(../assets/Menu_Aberto.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.container__image {
    padding: .75em;
    width: 32px;
    height: 32px;
}

.menu-lista {
    display: none;
    background-color: var(--branco);
    width: 60vw;
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .25);
}

.container__botao:checked~ .menu-lista {
    display: block; 
}

.container__botao {
    display: none;
}

.menu-lista__item, .menu-lista__titulo {
    padding: 1em 1.5em;
}

.menu-lista__titulo {
    font-weight: 700;
    color: var(--laranja);
}

.menu-lista__link {
    text-transform: uppercase;   
    text-decoration: none;
    color: var(--azul);
}

@media screen and (min-width: 1024px) {
    .nav__botao {
        display: none;
    }

    .header__titulo {
        font-family: var(--font-secundaria);
        font-size: 1.8rem;
        font-weight: 400;
    }

    .header__titulo .header__titulo--negrito {
        font-weight: 700;
    }

    .header__nav {
        display: flex;
        gap: 1em;
        align-items: center;
        position: relative;
    }
    
    .header__nav li {
        padding: 1em;
    }

    .header__nav--item {
        text-transform: uppercase;
        color: var(--preto);
        cursor: pointer;
        padding: 0 1em;
    }

    .nav__botao:checked~  .menu-lista{
        display: block;
    }
    
    .menu-lista {
        width: auto;
    }
}

@media screen and (min-width: 1728px) {
    .header {
        padding: 0 5em;
    }
    
    .header__container--link {
        display: flex;
        align-items: center;
    }

    .container__texto {
        color: var(--preto);
    }

    .menu-lista__item:hover {
        background: var(--azul-degrade);
    }
    
    .menu-lista__item:hover .menu-lista__link {
        color: var(--branco);
    }

    .nav__botao:checked~ label .header__nav--item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .header__container:nth-of-type(2) {
        margin-right: auto;
    }

    .header__container {
        padding: 0 2em;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        padding: 0 2em;
    }
}